
<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">

<body>
    <div class="container outer">
        <div class="row">
            <div class="col-12">
                <div class="p-2">
                    <a href="/home" class="head-link" style="color:#0C6980;font-weight: 500;">Add from Excel</a>
                    <!-- <a href="/home" class="head-link">Reset</a> -->
                    <hr>
                </div>
            </div>
            <div class="col-12 m-3">
                <div class="p-3">
                    <p class="colr">Add Candidates to Database..</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 text-center" >
                        <h1 class="colr">Page not found!!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("./includes/end.ejs") %>
