body{
    background-color: #0C6980;
}

.outer{
    border: solid 2px rgb(209, 199, 199);
    border-radius: 5px;
    margin: 110px auto;
    height: 60vh ;
    background-color: #C4DBE0;
}
/* 0C6980 */
.head-link{
    color : #0C6980;
    padding-right: 32px;
}

.head-link:hover{
    text-decoration: none;
    color: white;
    transform: translateX(-1px);
    transform: translateY(-2px);
    transition: all 0.2s;
}

hr{
    background-color:#0C6980;
    margin :4px auto ;
}

input[type="file"] {
    display: none;
}

.colr{
    color : #0C6980;
}

#btn{
    display: none;
}